@page
@using TurboFishShop_Models;
@using TurboFishShop_Utility;
@model IEnumerable<Product>
@{
}

<h1>Shopping Cart</h1>

@if (Model.Count() > 0)
{
	<form method="post" asp-action="Summary">
		<p><a class="btn btn-primary" asp-controller="Home">Continue Shopping</a></p>

		@foreach (var product in Model)
		{
			<p>
				<img src="@PathsManager.ImageProductPath@product.Image" width="100" class="rounded" />
			</p>

			<p>
				Product Name: @product.Name
			</p>

			<p>
				Description: @product.ShortDescription
			</p>

			<p>
				Price $$$: @product.Price
			</p>

			<p>
				<a class="btn btn-danger" asp-action="Remove" asp-route-Id="@product.Id">
					TRASH
				</a>
			</p>
		}


		<p>
			<button type="submit" class="btn btn-success">Continue</button>
		</p>
	</form>
} 
else
{
	<p>There are no products in your cart.</p>
}